* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.chat-container {
    background: beige;
    height: 100vh;
    display: flex;
}

.left-view {
    background: #293B52;
    width: 25%;
    border-right: 1px solid lightslategray;
    overflow: auto;
}

.me {
    display: flex;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid lightgray;
    justify-content: space-evenly;
    align-items: center;
}

.user-image {
    height: 86%;
    width: 32%;
}

.user-image img {
    height: 100%;
    width: 100%;
}

.user-name {
    color: beige;
}

.user {
    display: flex;
    justify-content: space-evenly;
    margin-top: 39px;
    align-items: center;
}

.right-view {
    background: darkkhaki;
    width: 75%;
}

.chat-window {
    height: 93%;
    background: #47597e;
    padding: 12px;
    width: 100%;
    overflow: auto;
}

.chat {
    margin-top: 10px;
    color: beige;
    clear: both;
    word-break: break-all;
}

.join {
    background: #022e57;
    border-radius: 20px;
    color: beige;
    width: 169px;
    padding: 5px;
    margin: auto;
    font-size: small;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leave {
    background: #022e57;
    border-radius: 20px;
    color: beige;
    width: 169px;
    padding: 5px;
    margin: auto;
    text-align: center;
    font-size: small;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    background: #293B75;
    border-radius: 20px;
    padding: 7px;
    width: 200px;
    align-items: center;
}

.right {
    margin-top: 10px;
    background: #475A9D;
    padding: 7px;
    border-radius: 27px;
    display: flex;
    align-items: center;
    width: 200px;
    float: right;
}

.chat-input {
    height: 7%;
    background: #47597e;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-top: 3px solid lightslategrey;
    border-top-width: thin;
}

.chat-input input {
    height: 70%;
    border: none;
    width: 75%;
    border-radius: 15px;
    font-size: large;
    padding: 13px;
    outline: none;
    background: #293B52;
    color: beige;
}